body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: left;
    padding: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
    color: grey;
}

.subtitle {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}


.thumbnail {
    display: inline-block;
    width: 23%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;   
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.05);
}


.thumbnail img {
    width: 100%;
    height: auto;
}

.info h3{
    padding: 0;
    border: 0;
    margin-bottom: 10px;

}

.info p{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    color: #666;
    overflow: hidden;
}
